{% extends 'base.html' %}

{% block bodyy %}

<div class="container" style="padding:1%;">

    <form method="post" action="/entry/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title :</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="input-group">
            <span class="input-group-text">Write in Diary :</span>
            <textarea rows="15" name="diary" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock bodyy %}